---
import Main from "@layouts/main.astro";
---

<Main bg="bg-yellow-200">
  <h2 class="text-lg font-semibold py-8">
    Look how good is Astro for these "before react" libraries
  </h2>
  <canvas class="webgl"></canvas>
</Main>

<script>
  import * as THREE from "three";

  // sizes
  const sizes = {
    width: 800,
    height: 600,
  };

  // canvas
  const canvas = document.querySelector("canvas.webgl");

  // scene
  const scene = new THREE.Scene();

  // group
  const group = new THREE.Scene();
  group.rotation.y = 2;
  scene.add(group);

  // object
  const cube1 = new THREE.Mesh(
    new THREE.BoxGeometry(1, 1, 1),
    new THREE.MeshBasicMaterial({
      color: "#f00",
    }),
  );
  const cube2 = new THREE.Mesh(
    new THREE.BoxGeometry(1, 1, 1),
    new THREE.MeshBasicMaterial({
      color: "#0f0",
    }),
  );
  const cube3 = new THREE.Mesh(
    new THREE.BoxGeometry(1, 1, 1),
    new THREE.MeshBasicMaterial({
      color: "#00f",
    }),
  );
  group.add(cube1, cube2, cube3);

  cube1.position.x = -2;
  cube2.position.x = 0;
  cube3.position.x = 2;

  // axes helper
  const axesHelper = new THREE.AxesHelper();
  scene.add(axesHelper);

  // camera
  const camera = new THREE.PerspectiveCamera(75, sizes.width / sizes.height);
  camera.position.z = 4;
  scene.add(camera);

  // renderer
  if (canvas) {
    const renderer = new THREE.WebGLRenderer({ canvas });
    renderer.setSize(sizes.width, sizes.height);
    renderer.render(scene, camera);
  }
</script>
