---
import Main from "@layouts/main.astro";
---

<Main>
  <div class="flex flex-col justify-center h-full space-y-2">
    <h1 class="text-lg font-semibold">Hello Astro</h1>
    <ul>
      <li>
        <a class="text-lg hover:underline cursor-pointer" href="/first">First</a
        >
      </li>
    </ul>
  </div>
</Main>
