---
interface Props {
  bg: string;
}

const { bg } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Boilerplate</title>
  </head>
  <body class={`w-full h-screen ${bg ? bg : "bg-blue-200"} container mx-auto`}>
    <slot />
  </body>
</html>
